# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Caches & Environment
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
*.log
.env
.venv
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDEs & OS
.DS_Store
.idea/
.vscode/
*.swp

# Docker
*.tar
